@import "../../node_modules/bootstrap/scss/bootstrap.scss";

@font-face {
  font-family: 'Final Fantasy';
  src: url('../../src/font/finalf.woff2') format('woff2'),
  url('../../src/font/finalf.woff') format('woff'),
  url('../../src/font/finalf.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body{
  li{font-family: "Final Fantasy", serif !important;
    margin-right: 2em;
  }
  h1{
    font-family: "Final Fantasy", serif !important;
    margin-right: 2em;
    text-shadow:
            0 0 5px #fff,
            0 0 10px #fff,
            0 0 20px #fff,
            0 0 40px #0ff,
            0 0 80px #0ff,
            0 0 90px #0ff,
            0 0 100px #0ff,
            0 0 150px #0ff;
  }
  color: black;
}
nav{
  text-shadow:
          0 0 5px #fff,
          0 0 10px #fff,
          0 0 20px #fff,
          0 0 40px #0ff,
          0 0 80px #0ff,
          0 0 90px #0ff,
          0 0 100px #0ff,
          0 0 150px #0ff;
}
/* Style the video: 100% width and height to cover the entire window */
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  transform: translateX(calc((100% - 100vw) / 2));
  z-index: -1;
  min-width: 100%;
  min-height: 100%;
}
.mog {
   width: 50px;
   height: 60px;
   z-index: 1;
 }
.fsize{
   font-size: 24px;
   letter-spacing: 4px;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-around;
 }
.mainText{
  text-align: center;
  font-size: 24px;
  max-width: 200px;
  letter-spacing: 4px;
  font-family: "Final Fantasy";
  text-shadow:
          0 0 5px #fff,
          0 0 10px #fff,
          0 0 20px #fff,
          0 0 40px #0ff,
          0 0 80px #0ff,
          0 0 90px #0ff,
          0 0 100px #0ff,
          0 0 150px #0ff;
}

//Histoire

.background-h {
  background-image: url("../../src/img/yuna.jpg");
  background-size: cover;
  background-attachment: fixed;
}

//Univers

.background-u {
  background-image: url("../../src/img/versus.jpg");
  background-size: cover;
  background-attachment: fixed;
}

//Jeux
.background-j{
background-image: url("../../src/img/FF.jpg");
background-size: cover;
background-attachment: fixed;
}
//Slide
//variables
$slider-height: 500px;
$text-block-width: 600px;

$dark-font-color: #212121;
$accent-font-color: #CA9CE1;
$light-font-color: #fff;
$text-overlay-color: #000;
$text-overlay-opacity: 0.6;
$slide-overlay-color: #fff;
$slide-overlay-opacity: 0.6;

//transitions and mixins

//transitions mixin
@mixin transition-mix($property: all, $duration: 0.2s, $timing: linear, $delay: 0s) {
  transition-property: $property;
  transition-duration: $duration;
  transition-timing-function: $timing;
  transition-delay: $delay;
}

//position absolute mixin
@mixin position-absolute ($top: null, $left: null, $right: null, $bottom: null) {
  position: absolute;
  top: $top;
  left: $left;
  right: $right;
  bottom: $bottom;
}

/*common styles !!!YOU DON'T NEED THEM */
body {
  font: {
    family: 'Poppins', sans-serif;
    weight: 400;
    size: 17px;
  }
  color: $dark-font-color;
  line-height: 1.4;
}

.container {
  width: 1100px;
  margin: 50px auto 0;

  h1 {
    text-align: center;

    span {
      position: relative;
      font: {
        family: 'Merienda', cursive;
      }
      color: $accent-font-color;

      &:after {
        @include position-absolute($bottom: -10px, $left: 0);
        content: "~";

        width: 100%;
        text-align:  center;
      }
    }
  }

  .subheader {
    text-align: center;
    margin-top: 15px;
  }
}

.link {
  display: flex;
  justify-content: center;
  width: 800px;
  margin: 30px auto 0;

  a {
    @include transition-mix;

    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin-right: 40px;
    color: inherit;
    font: {
      size: inherit;
    }
    text-decoration: none;

    &:hover {
      color: $accent-font-color;
    }

    &:last-child {
      margin-right: 0;
    }

    i {
      color: $accent-font-color;
      margin-right: 9px;
      font-size: 30px;
    }
  }
}

.slider-containers {
  width: 100%;
  margin-top: 60px;
}

.slider-container {
  margin-bottom: 60px;

  h2 {
    text-align: center;
  }
}

.flexbox-slider {
  margin-top: 50px;
}

/*slide styles !!!YOU NEED THEM */
.flexbox-slider {
  display: flex;
  width: 100%;
  height: $slider-height;
  visibility: hidden;

  .flexbox-slide {
    @include transition-mix($duration: .3s);

    width: 35%;
    height: 100%;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    visibility: visible;

    //overlay
    &:after {
      @include position-absolute($top: 0, $left: 0);
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      background-color: rgba($slide-overlay-color, $slide-overlay-opacity);
      z-index: 2;

      opacity: 0;
    }

    img {
      @include position-absolute($top: 50%, $left: 50%);
      height: auto;
      width: auto;
      min-width: 100%;
      min-height: 100%;
      transform: translate(-50%, -50%);
      z-index: 1;
    }

    .text-block {
      @include position-absolute($bottom: 30px, $left: 30px);
      max-width: $text-block-width;
      padding: 20px;
      border-radius: 5px;
      background-color: rgba($text-overlay-color, $text-overlay-opacity);
      color: $light-font-color;

      z-index: 4;

      visibility: hidden;
      opacity: 0;

      h3 {
        font: {
          size: 20px;
          weight: 700;
        }
      }
    }
  }

  &:hover {

    .flexbox-slide:hover {
      flex-shrink: 0;
      width: 80%;
    }
  }
}

/* effect 1 styles */
.flexbox-slider.flexbox-slider-1 {

  .flexbox-slide {

    .text-block {
      bottom: 60px;
    }
  }

  &:hover {

    .flexbox-slide:hover {

      .text-block {
        @include transition-mix($delay: .5s);
        bottom: 30px;
        opacity: 1;
        visibility: visible;
      }
    }
  }
}